<a href="https://colab.research.google.com/github/egdelacruz4704/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Control Structures**

In [ ]:
#If Statement

a = 100
b = 100

if a<b:
  print("a is less than b")

In [ ]:
#Elif Statement

if a<b:
  print("a is less than b")
elif a>b:
    print("a is greater than b")

In [ ]:
#Else Statement
if a<b:
  print("a is less than b")
elif a>b:
    print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [ ]:
#Short Hand If Statement

c =10
d = 5

if c>d: print("c is greater than d")

c is greater than d

In [ ]:
#Short Hand If Else Statement

print("c is greater than d") if c>d else print("d is greater than c")

c is greater than d

In [ ]:
#And Statement

if 10>5 and 8>4:
  print("both statements are true")
else:
  print("One of the statements are false/both statements are false")

both statements are true

In [ ]:
#Or Statement

if 5>10 or 4>8:
  print("True")
else:
  print("False")

False

In [ ]:
#Bitwise operator ^ (xor)
e=4 #0100 in binary
f=2 # 0010 in binary

e^f

6

In [ ]:
#Nested If Statement
x = 41
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
          print("number is less than 50")
      else:
        print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is above 40
number is less than 50

In [ ]:
#Application 1: Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old and above.

age=input("Enter your age: ")

age=int(age)

if age > 17:
  print("You are qualified to vote.")
elif age < 18:
  print("You are not qualified to vote.")

Enter your age: 12
You are not qualified to vote.

In [ ]:
#Application 2: Write a program that determines if the input number is POSITIVE, NEGATIVE, or Zero.

num=input("Enter a number: ")
num=int(num)

if num > 0:
  print("POSITIVE")
elif num < 0:
  print("NEGATIVE")
else:
  print("Zero")

Enter a number: -2
NEGATIVE

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
for x in "week":
  print(x)

w
e
e
k

In [ ]:
#range() function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [ ]:
adjective = ["red", "big", "tasty"]
fruits =["apple", "banana", "berry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red berry
big apple
big banana
big berry
tasty apple
tasty banana
tasty berry

In [ ]:
i = 1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i = 1


while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [1]:
#Application: using while loop and break statement, the output is only 3

i = 1

while i < 6:
  if i == 3:
    print(i)
    break
  i+=1

3