<a href="https://colab.research.google.com/github/egdelacruz4704/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Identation

In [ ]:
#Python identation example (labeling)

if 5>2:
  print("5 is greater than 2")
#This is a comment
  print("Hello, World")
  myVar = "John"
  b = "Sally" #This is a type of string

5 is greater than 2
Hello, World

Python Variables

In [ ]:
x = 1
a, b = 0, -1
print(a)
c= "Sally"
c = "Danny"
#Code is read by line so the newer declaration will be read.
print(c)
c= "Maria"

0
Danny

In [ ]:
print(c)
#code cell will print latest (c) declaration from previous cell.

Maria

Multiple Variables

In [ ]:
#Multiple variables with declarations in a single line.
f, g, h = "one", "two", "three"
print(f)
print(g)
print(h)

one
two
three

Python Casting

In [ ]:
#Explicit type casting
#Python needs user involvement to convert the variable data type into certain data type
d = int(4) 
print(d)

e = float(4)
print(e)

4
4.0

In [ ]:
#Implicit type casting
#Python automatically converts data types.
d= 4.0
e = 4
print(type(d))
print(type(e))

<class 'float'>
<class 'int'>

Single Quote and Double Quote

In [ ]:
print('Look')
print("Look")
#Single or double quotation is interchangable in Python

Look
Look

Output Variables

In [ ]:
#Print displays output of variables.
s = "Python"
t = "is"
r = "fun"
print(s + t + r)
#No blank space decleared in the variables. Can be added with a single/double quotation
print(s + ' ' + t + ' ' + r)

Pythonisfun
Python is fun

Arithmetics

In [ ]:
x = 1
y = 2
sum = x+y
sum
sum
sum
sum
x
print(x+y)
print(x)
print(y)
print(sum)

#modulo
l = 4%2
print("4%2 = ",l)

#floor division
k = 3//2
print("3//2 = ", k)

3
1
2
3
4%2 =  0
3//2 =  1

Assignment Operator

In [ ]:
x+=1
print(x)

2

Loigcal Operator

In [ ]:
q = 1
r = 4

q>r and r==r

False